name: "Release-Deploy"
on:
  release:
    types: ["published"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Make Release Changes
      run: . .github/release-changes.sh "${{ github.event.release.tag_name }}"

    - name: Install Node.js, NPM and Yarn
      uses: actions/setup-node@v3

    - name: Restore dependencies
      run: yarn install

    - name: Build Typescript
      run: yarn build-tsc

    - name: Build for Linux
      run: yarn build-linux

    - name: Rename Deb File
      run: mv ./dist/*.deb ./dist/cpavalancheclient_${{ env.version }}.deb
      
    - name: Upload Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: artifacts
        path: |
          ./dist/*.deb
          ./dist/*.AppImage

    - name: "Upload Artifacts to Release"
      uses: "ncipollo/release-action@v1"
      with:
        allowUpdates: true
        artifactErrorsFailBuild: true
        artifacts: "dist/*"
        token: ${{ secrets.GITHUB_TOKEN }}
        omitBodyDuringUpdate: true
        omitNameDuringUpdate: true